{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block nav %}
{% with navbar_class="navbar-translucent" %}
{% include "nav.html" %}
{% endwith %}

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
            <div class="jumbotron">
                <h2>미래작명당</h2>
                <p>성명학에 따라 이름을 지어보세요.</p>
                <p>베타 기간 중에는 무료로 사용하실 수 있습니다.</p>
            </div>
            {% if user.is_authenticated %}
            <div class="row">
                <div class="col-6 col-lg-4">
                    <h2>작명하기</h2>
                    <p><a class="btn btn-secondary" href="{% url "naming" %}" role="button">작명할 아이 정보 입력하기 &raquo;</a></p>
                </div><!--/span-->
            </div><!--class-->
            {% else %}
            {% endif %}
            <div class="row">
                <div class="col-6 col-lg-4">
                    <h2>이름 운세 확인하기</h2>
                    <li>한자획수를 바탕으로 81수리 원형이정을 확인합니다.</li>
                    <p><a class="btn btn-secondary" href="{% url "suri81" %}" role="button">한자 이름 입력하기 &raquo;</a></p>
                </div><!--/span-->
            </div><!--/row-->
        </div><!--/span-->

        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a href="#" class="list-group-item active">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
            </div>
        </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
        <p>Copyright &copy; Namingworks 2017</p>
    </footer>

</div><!--/.container-->
{% endblock %}
