{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block nav %}
{% with navbar_class="navbar-translucent" %}
{% include "nav.html" %}
{% endwith %}

<!--<div class="container"> -->

<div style="background:#27292b" class="jumbotron">
    <div class="container">
        <br>
        <br>
        <p style="font-size:36px; color: white;"><b>미래작명당</b></p>
        <li style="color: white;">작명서비스로 아이의 앞날에 축복을 더할 이름을 지어보세요.</li>
        <li style="color: white;">이름운세서비스로 현재 이름의 운세를 확인해보세요.</li>
        <br>
        {% if user.is_authenticated %}
        {% else %}
        <p><a class="btn btn-primary" href="{% url "login" %}" role="button"><span class="glyphicon glyphicon-user"></span>로그인 </a></p>
        {% endif %}
    </div>
</div>
<div class="container">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-6 col-lg-4">
            <h2>작명하기</h2>
            <p>탄생 정보 및 성씨 정보를 바탕으로 吉한 이름을 지어줍니다.</p>
            <p><a class="btn btn-default" href="{% url "naming" %}" role="button">아이 정보 입력하기 &raquo;</a></p>
        </div><!--/span-->
    </div><!--class-->
    <div class="row">
        <div class="col-6 col-lg-4">
            <h2>이름 운세 확인하기</h2>
            <p>한자획수를 바탕으로 운세를 확인합니다.</p>
            <p><a class="btn btn-default" href="{% url "suri81" %}" role="button">이름 입력하기 &raquo;</a></p>
        </div><!--/span-->
    </div><!--/row-->
    {% else %}
    <p>로그인 후에 서비스 이용이 가능합니다.</p>
    {% endif %}

    <hr>
</div> <!--/.container-->

{% endblock %}
