{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block nav %}
    {% with navbar_class="navbar-translucent" %}
        {% include "nav.html" %}
    {% endwith %}


    {% block content %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="jumbotron">
                <h3>로그인을 위해 이메일 주소를 입력해주세요.</h3>
                <div class="alert alert-info" role="alert">
                    <h5>고객 식별을 위해 이메일 정보 하나만 사용합니다.</h5>
                </div>
                {% csrf_token %}
                {% crispy form %}
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %} 
