{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block nav %}
{% include "nav.html" %}

<div class="container">
    <div class="jumbotron jumbotron-white">
        <div class="container theme-showcase" role="main">
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <h2>정보를 입력 해주세요.</h2>
            <hr>
            {% csrf_token %}
            {% crispy form %}
        </div>
    </div>
</div> <!-- /container -->
{% endblock %}
