{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block nav %}
  {% include "nav.html" %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Theme example</h1>
        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>

        <p>"Profile."</p>
        <a href="{% url "index" %}" class="btn btn-large btn-primary">{% trans "Back to home" %}</a>
      </div>
{% endblock %}
