{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block nav %}
  {% include "nav.html" %}
<div class="container theme-showcase" role="main">
<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <form action="{% url "calculations" %}" method="post">
      <h2>정보 입력</h2>
      <br>
      {% csrf_token %}
      {% crispy form %}
    </form>
  </div>
</div> <!-- /container -->
{% endblock %}


{% block wrap %}
<div class="row wrap">
    <div class="col-md-12 content">
        {{ base_content | safe }}
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}
