{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block nav %}
{% include "nav.html" %}

<button onclick="gotoBottom()" id="followBtn" title="Go to bottom">맨아래로</button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("followBtn").style.display = "block";
    } else {
        document.getElementById("followBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function gotoBottom() {
    var documentHeight=document.documentElement.offsetHeight;
    var viewportHeight=window.innerHeight;
    window.scrollTo(0,documentHeight-viewportHeight);
    //document.body.scrollTop = 0;
    //document.documentElement.scrollTop = 0;
}
</script>

<div class="container">
    <div class="jumbotron jumbotron-white">
        <div class="container theme-showcase" role="main">
            <form action="{% url "suri81_result" %}" method="GET">
                <table class="table">
                    <h1>이름: <label>{{ name }} </label></h1> <br>
                    <thead>
                        <th class="col-xs-4"> 성 </th>
                        <th class="col-xs-4"> 가운데 이름 </th>
                        <th class="col-xs-4"> 마지막 이름 </th>
                    </thead>
                    <tbody>
                        <td>
                            {% for hanja in hanja1 %}
                            <input name="hanja1" type="radio" value={{ hanja }}>
                            <label>{{ hanja }} </label> <br> 
                            {% endfor %}
                        </td>
                        <td>
                            {% for hanja in hanja2 %}
                            <input name="hanja2" type="radio" value={{ hanja }}>
                            <label>{{ hanja }} </label> <br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for hanja in hanja3 %}
                            <input name="hanja3" type="radio" value={{ hanja }}>
                            <label>{{ hanja }} </label> <br>
                            {% endfor %}
                        </td>
                    </tbody>
                </table>
                <input type="text" name="input_name" value={{ name }} style="display: none">
                <input type="submit" value="결과 요청하기 &raquo;" style="float:left;width:300px;" class="btn btn-success">
            </form>
        </div>
    </div>
</div> <!-- /container -->
{% endblock %}
