{% load staticfiles %}
{% load i18n %}
<br> <br> <br> <br>
<div class="footer">
    <div class="container">
        <div class="row wrap">
            <div class="col col-sm-3 info">
                <!-- google adsense -->
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- naming_ad -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-2477248594987452"
                     data-ad-slot="1442092660"></ins>
                <script>
(adsbygoogle = window.adsbygoogle || []).push({});
                </script> <!-- google adsense -->
                Copyright &copy; Eden Naming 2017</p>
            </div>
        </div>
    </div>
</div>
