{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block nav %}
{% with navbar_class="navbar-translucent" %}
{% include "nav.html" %}
{% endwith %}

<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <h1><b>이든작명연구소</b></h1>
    <p>아이의 앞날에 축복을 더할 이름을 지어보세요.<br>
       현재 이름의 운세를 확인해보세요.</p>
    {% if user.is_authenticated %}
    {% else %}
    <p><a class="btn btn-primary" href="{% url "home/login" %}" role="button"><span class="glyphicon glyphicon-user"></span>로그인 </a></p>
    {% endif %}
</div>


<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">

            <div class="row">
                {% if user.is_authenticated %}
                <div class="col-xs-6 col-lg-4">
                    <h2>작명하기</h2>
                    <p>탄생 및 성씨 정보를 바탕으로 작명합니다.</p>
                    <!-- <p><a class="btn btn-default" href="{% url "naming" %}" role="button">아이 정보 입력하기 &raquo;</a></p> -->
                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h2>이름 운세 확인하기</h2>
                    <p>한자획수를 바탕으로 운세를 확인합니다.</p>
                    <!-- <p><a class="btn btn-default" href="{% url "suri81" %}" role="button">이름 입력하기 &raquo;</a></p> -->
                </div><!--/.col-xs-6.col-lg-4-->
                {% else %}
                <div class="col-xs-6 col-lg-4">
                    <p>로그인 후에 서비스 이용이 가능합니다.</p>
                </div><!--/.col-xs-6.col-lg-4-->
                {% endif %}
            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a href="{% url "index" %}" class="list-group-item active">이든작명연구소</a>
                <a href="{% url "naming" %}" class="list-group-item">작명</a>
                <!-- <a href="{% url "suri81" %}" class="list-group-item">이름운세</a> -->
                <!-- <a href="{% url "contact" %}" class="list-group-item">온라인문의</a> -->
            </div>
        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->

    <hr>
</div><!--/.container-->

{% endblock %}
