{% load staticfiles %}
{% load i18n %}


<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                <span class="sr-only">이든작명연구소</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "index" %}">
                <img style="max-width:200px; height: 150%; margin-top: -7px;" src="{% static "image/logo.png" %}">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for k, v in menu.items %}
                {% if v.submenu %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-{{ v.icon }}"></span> {{ v.title }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for sk, sv in v.submenu.items %}
                        <li class="{% if sv.active %}active{% endif %}">
                            <a href="{% url "index" %}{{ k }}/{{ sk }}">{{ sv.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="{% if v.active %}active{% endif %}">
                    <a href="{% url "index" %}{{ k }}"><span class="glyphicon glyphicon-{{ v.icon }}"></span> {{ v.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% if user.profile.image %}
                        <img class="profile-thumb" src="/media/{{ user.profile.image }}" width="32">
                        {% else %}
                        <span class="glyphicon glyphicon-user"></span>
                        {% endif %}
                        {{ user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% if my_speaker %}
                        <li class="dropdown-header">{% trans "Profile" %}</li>
                        <li><a href="{{ my_speaker.get_absolute_url }}">{% trans "My Profile" %}</a></li>
                        <li><a href="{% url "speaker_edit" my_speaker.slug %}">{% trans "Edit Profile" %}</a></li>
                        <li class="divider"></li>
                        {% endif %}
                        {% if my_programs %}
                        <li class="dropdown-header">{% trans "Programs" %}</li>
                        {% for program in my_programs %}
                        <li><a href="{{ program.get_absolute_url }}">{{ program.name }}</a></li>
                        <li><a href="{% url "profile" %}">{% trans "Profile" %}</a></li>
                        {% endfor %}
                        <li role="presentation" class="divider"></li>
                        {% endif %}
                        <li><a href="{% url "logout" %}">{% trans "Logout" %}</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="{% if v.active %}active{% endif %}">
                    <a href="{% url "login" %}"><span class="glyphicon glyphicon-user"></span>로그인</a>
                </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav><!-- /.navbar -->

